* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 62, 5%;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #655a7c;
  padding: 10px 20px;
}
nav ul{
  display: flex;
  gap: 20px;
}
.nav-list-items {
  list-style-type: none;
}
.nav-list-items a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
p,
ul {
  color: #655a7c;
}

.social-card {
  width: 380px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
  display: flex;
  padding: 10px;
  gap: 20px;
}
.card-text-container {
  display: flex;
}
.card-arrow-container {
  align-self: flex-end;
}
.card-title {
  font-size: 1.2rem;
}

.card-text,
.card-account {
  font-size: 0.9rem;
}
.card-account a {
  text-decoration: none;
  color: grey;
}
