* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 62, 5%;
  background-color: #f6f5f2;
}

/* navbar */

header {
  display: flex;
  justify-content: space-between;
  background-color: #dcdbd9;
  padding: 10px 20px;
}
nav ul {
  display: flex;
  gap: 20px;
}
.nav-list-items {
  list-style-type: none;
}
.nav-list-items a {
  text-decoration: none;
  color: black;
}

/* navbar */

/* hero-section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
}
h1 {
  font-size: 3.2rem;
  margin: 0 20px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #4d3979;
}
.hero-text {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #4d3979;
}
.chris {
  width: 200px;
  margin-bottom: 20px;
}
/* hero-section */

/* info-section */
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: #ebeae9;
}
.info-container {
  width: 400px;
}
.info-container h2 {
  font-size: 1.2rem;
}
/* info-section */

/* form-section */
.form-section {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;

  padding: 20px;
}
form h2 {
  font-size: 1.2rem;
}

/* form-section */

/* social-card-section */
.social-card-container {
  padding: 40px 20px;
  margin: 50px 0;
  background-color: #dcdbd9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.social-card {
  width: 380px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
  padding: 10px;
  display: flex;
  gap: 20px;
  background-color: white;
}
.card-text-container {
  display: flex;
}
.card-arrow-container {
  align-self: flex-end;
}
.card-title {
  font-size: 1.2rem;
}

.card-text,
.card-account {
  font-size: 0.9rem;
}
.card-account a {
  text-decoration: none;
  color: grey;
}

/* social-card-section */

/* footer */
footer {
  background-color: #dcdbd9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
footer p {
  margin: 0px;
}

.footer-list-items {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer-list-items a {
  text-decoration: none;
  color: black;
}
/* footer */
