@import "./base.css";
@import "./components/header.css";
@import "./components/hero.css";
@import "./components/info.css";
@import "./components/about.css";
@import "./components/fun.css";
@import "./components/social-cards.css";
@import "./components/footer.css";
@import "./components/utility.css";





/* social-card-section */
.social-card-container {
  padding: 40px 20px;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  background-color: var(--fourth-color);
}
.social-card {
  width: 380px;
  height: 160px;
  border-radius: 3px;
  padding: 12px;
  display: flex;
  gap: 20px;
  background-color: var(--fourth-color);
}
.card-text-container {
  display: flex;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-arrow-container {
  align-self: flex-end;
}
.card-arrow-container a {
  display: flex;
}
.card-title {
  font-size: 1.2rem;
  margin: 0;
}

.card-text,
.card-account {
  font-size: 0.9rem;
}
.card-account {
  margin: 0;
}
.card-account a {
  text-decoration: none;
  color: grey;
}

/* social-card-section */

/* footer */
footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 2px solid black;
}
footer p {
  margin: 0px;
}

.footer-list-items {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer-list-items a {
  text-decoration: none;
  color: black;
}
.footer-list-items a:hover {
  color: var(--third-color);
  text-shadow: 1px 1px black;
  text-decoration: underline;
  text-decoration-color: black;
}
/* footer */
